@import "./theme.scss";

:root {
    --font-family: "Inter", sans-serif;
    --font-size: 16px;
}

body {
    > header,
    > section {
        --block-spacing-vertical: 1rem;
    }
}

header {
    text-align: center;

    h1 {
        font-weight: normal;
    }
}

footer {
    .footnote {
        text-align: right;
    }
}
