@import "./theme.scss";

:root {
    --font-family: "Inter", sans-serif;
    --font-size: 16px;
}

@mixin img-switcher {
    &.light {
        display: initial;
    }

    @media only screen and (prefers-color-scheme: dark) {
        &.dark {
            display: initial;
        }
        &.light {
            display: none;
        }
    }
}

body {
    > header,
    > section {
        --block-spacing-vertical: 1rem;
    }

    header {
        text-align: center;

        .logo {
            width: 128px;
        }
    }

    .logo {
        width: 32px;
        height: auto;
    }

    .screenshot {
        display: none;

        @include img-switcher();
    }

    footer {
        .footnote {
            text-align: right;
        }
    }
}
